<div class="justify-content-center">
<section class="top-m2"style="width:50%; height:500px;overflow-x:hidden; border:solid black 2px; border-radius: 25px; padding:25px 25px 25px 25px;">
<%=form_for @students do |student| %>
  <div class="form-group">
  <%= student.label :first_name %>
   <%= student.text_field :first_name, label: "First Name:", class: "form-control" %>
  </div>
  <div class="form-group">
  <%= student.label :last_name %>
<%= student.text_field :last_name, label: "Last Name:", class: "form-control" %>
  </div>
    <div class="form-group">
    <%= student.label :age %>
    <%= student.select :age, (14..149)%>
    </div>
    <div class="form-group">
    <%= student.label :education %>
    <%= student.select :education,["Highschool","College","Masters","PHD"] %>
    </div>
    <%= student.submit "Update Student", class: "btn btn-primary" %>

</section>
</div>

<% end %>